{% extends 'front/layout.html.twig' %}

{% block title %}Codeurdulibre - Homepage{% endblock %}

{% block content %}
	<!-- =====================================
		==== Start Loading -->
	<div class="loading">
		<div class="text-center middle">
			<div class="lds-ellipsis"><div></div><div></div><div></div><div></div></div>
		</div>
	</div>
	<!-- End Loading ====
	======================================= -->


	<!-- =====================================
	==== Start Navbar -->
	<nav class="navbar navbar-expand-lg">
		<div class="container">

		  <!-- Logo -->
		  <a class="logo" href="#">Codeur<small>du</small>Libre</a>

		  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="icon-bar"><i class="fas fa-bars"></i></span>
		  </button>

		  <!-- navbar links -->
		  <div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav ml-auto">
			  <li class="nav-item">
				<a class="nav-link active" href="#" data-scroll-nav="0">Maison</a>
			  </li>
			  <li class="nav-item">
				<a class="nav-link" href="#" data-scroll-nav="1">Présentation</a>
			  </li>
			  <li class="nav-item">
				<a class="nav-link" href="#" data-scroll-nav="2">Prestation</a>
			  </li>
			  <li class="nav-item">
				<a class="nav-link" href="#" data-scroll-nav="3">Association</a>
			  </li>
			  <li class="nav-item">
				<a class="nav-link" href="#" data-scroll-nav="5">Blog</a>
			  </li>
			</ul>
		  </div>
		</div>
	</nav>
	<!-- End Navbar ====
	======================================= -->


	<!-- =====================================
	==== Start Header -->
	<header class="header valign bg-img" data-scroll-index="0" data-overlay-dark="7" data-background="{{asset('front/image/b5.jpg')}}" data-stellar-background-ratio="0.5">
		<div class="container">
			<div class="row">
				<div class="vertical-center full-width text-center caption">
					<h2><b>Codeur</b><small>du</small><b>Libre</b></h2>
					<h1 class="cd-headline clip">
						<span class="blc">Je suis </span>
						<span class="cd-words-wrapper">
						  <b class="is-visible">un Codeur</b>
						  <b>un Maker</b>
						  <b>un Créatif</b>
						</span>
					</h1>
				</div>
			</div>
		</div>

		<div class="arrow">
			<a href="#" data-scroll-nav="1">
				<i class="fas fa-chevron-down"></i>
			</a>
		</div>
	</header>
	<!-- End Header ====
	======================================= -->


	<!-- =====================================
	==== Start Hero -->
	<section class="hero section-padding" data-scroll-index="1">
		<div class="container">
			<div class="row">
				<div class="col-lg-5">
					<div class="hero-img mb-md50">
						<img src="{{ asset('front/image/hero.jpg') }}" alt="">
					</div>
				</div>
				<div class="col-lg-7">
					<div class="content">
						<h4 class="title title-left">Expert en Informatique & Système d'Information</h4>
						<p>Je m'appelle <span>Léo</span>, j'ai 25 ans, je vie et j'ai grandi à la campagne, dans la région du Pic Saint Loup. Je cotoie l'informatique depuis l'enfance, ma curiosité et les facilités que j'ai ressentis à l'égard de cet univers m'ont poussé à étudier pendant 5 années et à faire de l'informatique mon métier.</p>
						<p>Travailleur indépendant, je consacre la moitiée de mon temps à l'association : l'Atelier de Claret. Il s'agit d'un tiers lieu, espace de coworking, formation et FABLAB. L'autre moitié de mon temps est dédié aux contrats freelance, en télétravail, avec des Start-Up, PME, SSII, en tant que développeur Symfony.</p>

						<div class="social-icon">
							<a href="#0">
								<span class="icon"><i class="fab fa-github"></i></span>
							</a>
							<a href="#0">
								<span class="icon"><i class="fab fa-linkedin-in"></i></span>
							</a>
						</div>

						<span class="buton text-center">
						  <a href="#0" front="Me contacter" back="&#xf1d8;" data-scroll-nav="6"></a>
						</span>
						<span class="buton buton-bord text-center">
						  <a href="CV.pdf" front="Voir C.V" back="&#xf019;" download="CV.pdf"></a>
						</span>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- End Hero ====
	======================================= -->


	<!-- =====================================
	==== Start Resume -->
	<section class="resume bg-img" data-overlay-dark="8" data-background="{{asset('front/image/b4.jpg')}}" data-scroll-index="1">
		<div class="container">
			<div class="row">
				<div class="col-lg-3 col-sm-6">
					<div class="item mb-md50">
						<span class="icon icon-pencil"></span><br>
						<h5 class="title title-left">Etudes</h5>
						<ul>
							<li>
								<h6>EPSI</h6>
								<p>Expert en Informatique et Système d'information (5ans)</p>
							</li>
							<li>
								<h6>Lycée Public - Saint Clément de Rivière</h6>
								<p>BAC Général - Science économique et social</p>
							</li>
						</ul>
					</div>
				</div>
				<div class="col-lg-3 col-sm-6">
					<div class="item mb-md50">
						<span class="icon icon-briefcase"></span><br>
						<h5 class="title title-left">Experience</h5>
						<ul>
							<li>
								<h6>Développeur BACK Symfony (2ans)</h6>
								<p>Smile Open Source</p>
							</li>
							<li>
								<h6>Développeur BACK Symfony (1ans)</h6>
								<p>TWIL - The Wine I Love</p>
							</li>
							<li>
								<h6>Developpeur IOS (3mois)</h6>
								<p>SECIB</p>
							</li>
						</ul>
					</div>
				</div>
				<div class="col-lg-6">
					<div class="item skills">
						<span class="icon icon-layers"></span><br>
						<h5 class="title title-left">Mes compétences</h5>

						<div class="skill">
							<h6>Symfony 2 à 4 <span>90%</span></h6>
							<div class="skills-progress"><span data-value='90%'></span></div>
						</div>
						<div class="skill">
							<h6>Architecture Logiciel / UML <span>80%</span></h6>
							<div class="skills-progress"><span data-value='80%'></span></div>
						</div>
						<div class="skill">
							<h6>Javascript & JQuery & Ajax<span>85%</span></h6>
							<div class="skills-progress"><span data-value='85%'></span></div>
						</div>
						<div class="skill">
							<h6>Administration Système Linux<span>75%</span></h6>
							<div class="skills-progress"><span data-value='75%'></span></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- End Resume ====
	======================================= -->


	<!-- =====================================
	==== Start Services -->
	<section class="services section-padding" data-scroll-index="2">
		<div class="container">
			<div class="row">

				<div class="section-head full-width">
					<h4 class="title">Mes prestations</h4>
				</div>

				<div class="col-lg-4 col-md-6">
					<div class="item mb-md50">
						<span class="icon icon-layers"></span>
						<h6>Développement</h6>
						<p>Conception et réalisation d'application web avec le Framework Symfony</p>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 active bolt">
					<div class="item mb-md50">
						<span class="icon icon-bargraph"></span>
						<h6>Integration Continue</h6>
						<p>Du Dev à la Prod il y a un monde, les processus d'intégration continue sont garant de la maitrise du projet</p>
					</div>
				</div>
				<div class="col-lg-4 col-md-6">
					<div class="item mb-md50">
						<span class="icon icon-calendar"></span>
						<h6>Gestion de Projet</h6>
						<p>Les outils de l'Agilité sont nos amis ! Habitué à travailler en équipe, dans un contexte Agile</p>
					</div>
				</div>
				<div class="bord full-width"></div>
				<div class="col-lg-4 col-md-6">
					<div class="item mb-md50">
						<span class="icon icon-shield"></span>
						<h6>Clean Code</h6>
						<p>J'attache une importance à produire du code compréhensible, commenté et respectant les bonnes pratiques</p>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 active">
					<div class="item">
						<span class="icon icon-genius"></span>
						<h6>Open Source</h6>
						<p>Au delà de la gratuité, l'Open Source est pour moi une philosophie et un gage de qualité</p>
					</div>
				</div>
				<div class="col-lg-4 col-md-6">
					<div class="item mb-sm50">
						<span class="icon icon-mobile"></span>
						<h6>Fully Responsive</h6>
						<p>Les Framework CSS tel que Bootstrap, garantissent une adaptation des pages web à tous les formats d'écrans</p>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- End Services ====
	======================================= -->


	<!-- =====================================
	==== Start Numbers -->
	<div class="numbers bg-img" data-stellar-background-ratio="0.5" data-overlay-dark="5" data-background="{{asset('front/image/IDE-dev-env.png')}}">
		<div class="container">
			<div class="row">
				<div class="vertical-center full-width text-center caption">
					<h1 id="cd-bundle" class="cd-headline clip pt-50 pb-50">
						<span class="blc">~$ composer require </span>
						<span class="cd-words-wrapper">
						  <b class="is-visible">easycorp/easyadmin-bundle</b>
						  <b>doctrine/doctrine-bundle</b>
						  <b>friendsofsymfony/user-bundle</b>
						  <b>friendsofsymfony/FOSRestBundle</b>
						  <b>friendsofsymfony/ckeditor-bundle</b>
						  <b>symfony/maker-bundle</b>
						  <b>ckfinder/ckfinder-symfony-bundle</b>
						  <b>nelmio/NelmioApiDocBundle</b>
						  <b>vich/uploader-bundle</b>
						  <b>knplabs/knp-paginator-bundle</b>
						  <b>symfony/debug-bundle</b>
						  <b>excelwebzone/recaptcha-bundle</b>
						  <b>connectholland/cookie-consent-bundle</b>
						</span>
					</h1>
				</div>

			</div>
		</div>
	</div>
	<!-- End Numbers ====
	======================================= -->


	<!-- =====================================
	==== Start Portfolio -->
	<section class="hero portfolio section-padding" data-scroll-index="3">
		<div class="container">
			<div class="row">

				<!-- Section-Head -->
				<div class="section-head full-width">
					<h4 class="title">Association</h4>
				</div>

				<div class="col-lg-3 pl-5">
					<div class="col-lg-10">
						<div class="hero-img mb-md50">
							<img src=	"{{ asset('front/image/logo-Atelier_am.PNG') }}" alt="">
						</div>
					</div>
					<div class="col-lg-10 mt-50">
						<div class="hero-img mb-md50">
							<img src="{{ asset('front/image/Alternatiba-logo.jpg') }}" alt="">
						</div>
					</div>
				</div>
				<div class="col-md-9 pr-5 pt-40">
					<div class="pl-5 mb-50">
						<p>
							Passionné par les nouvelles technologies et plus largement par l'exploration du futur, de ses utopies et de ses dystopies, je suis très sensible aux enjeux environnementaux et aux questions de sociétés.
						</p>
						<p class="mt-20">
							On retrouve de l'informatique dans l'économie et la finance, dans les rapports sociaux, dans la santé, dans l'éducation, le transport, l'énergie, l'agriculture, absolument partout, et de ce fait nous en sommes incroyablement dépendants.
						</p>
						<p class="mt-20">
							Cette omniprésence de l'informatique soulève des questions environnementales ou d'éthique et de responsabilités importantes. Je pense que l'open source a un rôle central à jouer dans la fabrication du numérique et c'est pourquoi je souhaite mettre à contribution mon savoir faire, au profit d'associations contribuant à la construction du monde de demain.
						</p>
					</div>
					<div class="row text-center justify-content-end pr-4">
						<span class="buton">
						  <a href="#0" front="Me contacter" back="&#xf1d8;" data-scroll-nav="6"></a>
						</span>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- End Portfolio ====
	======================================= -->


	<!-- =====================================
	==== Start Testimonails -->
	<section class="testimonials section-padding bg-img" data-overlay-dark="7" data-background="{{asset('front/image/bg-perso.jpg')}}" data-scroll-index="4">
		<div class="container">
			<div class="row">

				<!-- Section-Head -->
				<div class="section-head full-width mb-50">
					<span class="icon icon-quote"></span><br>
					<h4 class="title">Plus sur moi</h4>
				</div>

				<div class="offset-md-1 col-md-10">
					<div class="owl-carousel owl-theme text-center">
						<div class="citem mb-40">
							<p>Le plus difficile, c'est de faire simple</p>
						</div>
						<div class="citem mb-40">
							<p>Créer le monde que nous voulons est bien plus puissant que de détruire celui dont nous ne voulons plus</p>
						</div>
						<div class="citem mb-40">
							<p>La seul limite, c'est l'imagination</p>
						</div>
					</div>
				</div>

			</div>
		</div>
	</section>
	<!-- End Testimonails ====
	======================================= -->


	<!-- =====================================
	==== Start Blog -->
	<section class="blog section-padding" data-scroll-index="5">
		<div class="container">
			<div class="row">

				<div class="section-head full-width">
					<h4 class="title">Le Blog</h4>
				</div>

				<div class="owl-carousel owl-theme">
					<div class="pitem">
						<div class="post-img">
							<a href="#0">
								<img src="{{asset('front/image/1.jpg')}}" alt="">
							</a>
							<a href="#0" class="tag">WordPress</a>
						</div>
						<div class="content">
							<h3>
								<a href="#0">The Best WordPress Real Estate Themes & Plugins</a>
							</h3>
							<p>Real estate is an uber-competitive marketplace full of businesses competing for the same set of consumers. They're all looking for …</p>
							<div class="info">
								<span class="more">
									<a href="#0">Read More</a>
								</span>
								<span class="by">
									<a href="#0">By : Admin</a>
								</span>
							</div>
						</div>
					</div>
					<div class="pitem">
						<div class="post-img">
							<a href="#0">
								<img src="{{ asset('front/image/2.jpg') }}" alt="">
							</a>
							<a href="#0" class="tag">Trends</a>
						</div>
						<div class="content">
							<h3>
								<a href="#0">4 Deadly Sins of UI and UX Design You Need to Avoid</a>
							</h3>
							<p>It’s not wrong to say that perfection in web design is something that doesn't really exist. But that doesn't mean …</p>
							<div class="info">
								<span class="more">
									<a href="#0">Read More</a>
								</span>
								<span class="by">
									<a href="#0">By : Admin</a>
								</span>
							</div>
						</div>
					</div>
					<div class="pitem">
						<div class="post-img">
							<a href="#0">
								<img src="{{ asset('front/image/3.jpg') }}" alt="">
							</a>
							<a href="#0" class="tag">Trends</a>
						</div>
						<div class="content">
							<h3>
								<a href="#0">The Best Advice for Novice Web Designers in 2018</a>
							</h3>
							<p>When you're just getting started, it's hard to know what advice to listen to, and what to ignore. Finding your …</p>
							<div class="info">
								<span class="more">
									<a href="#0">Read More</a>
								</span>
								<span class="by">
									<a href="#0">By : Admin</a>
								</span>
							</div>
						</div>
					</div>
					<div class="pitem">
						<div class="post-img">
							<img src="{{ asset('front/image/4.jpg') }}" alt="">
							<a href="#0" class="tag">ThemeForest</a>
						</div>
						<div class="content">
							<h3>
								<a href="#0">20 Stellar Science Fiction After Effects Templates</a>
							</h3>
							<p>We’ve assembled a collection of sci-fi After Effects templates most likely to induce awe and wonder and tried to pick …</p>
							<div class="info">
								<span class="more">
									<a href="#0">Read More</a>
								</span>
								<span class="by">
									<a href="#0">By : Admin</a>
								</span>
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>
	</section>
	<!-- End Blog ====
	======================================= -->


	<!-- =====================================
	==== Start Contact -->
	<section class="contact section-padding bg-img" data-overlay-dark="8" data-background="{{asset('front/image/bg-contact.jpg')}}" data-scroll-index="6">
		<div class="container">
			<div class="row mb-50">

				<!-- Section-Head -->
				<div class="section-head full-width mb-50">
					<h4 class="title">Contact</h4>
				</div>

				<div class="col-md-8 mt-50">
					<form class="form full-width" id="contact-form" method="post" action="contact.php">
						<div class="messages"></div>

						<div class="controls">

							<div class="row">
								<div class="col-md-6">
									<div class="form-group">
										<input id="form_name" type="text" name="name" placeholder="Nom *" required="required">
									</div>
								</div>

								<div class="col-md-6">
									<div class="form-group">
										<input id="form_email" type="email" name="email" placeholder="Email *" required="required">
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-12">
									<div class="form-group">
										<input id="form_subject" type="text" name="subject" placeholder="Objet">
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-12">
									<div class="form-group">
										<textarea id="form_message" name="message" placeholder="Message *" rows="4" required="required"></textarea>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-12">
									<div class="form-group">
									<span class="buton buton-lg">
										<button type="submit" front="Send Message" back="&#xf35d;"></button>
									</span>
									</div>
								</div>
							</div>
						</div>
					</form>
				</div>

				<div class="info col-md-4 mt-50">
						<div class="col-md-12">
							<div class="item mb-50">
								<span class="icon icon-mobile"></span>
								<div class="cont">
									<h6>Tel</h6>
									<p>+336 13 31 38 11</p>
								</div>
							</div>
						</div>
						<div class="col-md-12">
							<div class="item mb-50">
								<span class="icon icon-envelope"></span>
								<div class="cont">
									<h6>Email</h6>
									<p>leo.hugues@hotmail.fr</p>
								</div>
							</div>
						</div>
						<div class="col-md-12">
							<div class="item">
								<span class="icon icon-map-pin"></span>
								<div class="cont">
									<h6>Adresse</h6>
									<p>63 Avenue du Nouveau Monde, 34270 Claret</p>
								</div>
							</div>
						</div>
				</div>

			</div>
		</div>
	</section>
	<!-- End Contact ====
	======================================= -->
{% endblock %}
